{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
            <h2 class="mt-1">COMP9321  -  Assignment 3</h2>
    </div>
    <div class="row">
        <p>
            <br>Welcome to the home page for our heart disease project.<br>
            To begin, choose an option from the menu.
        </p>
    </div>
    <hr>
    <div class="row">
        <p>
            This project was designed and built by:
        </p>
    </div>
    <div class="row">
        <p>
            <ul>
                <li>Aiden Meikle - 5229381</li>
                <li>Kaylen Payer - 5076219</li>
                <li>Joel Lawrence - 3331029</li>
                <li>Tom Welsh - 5016234</li>
            </ul>
        </p>
    </div>
    <div class="row">
        <!--I look like a nice place to have a cherry pie picture!-->
    </div>
</div>
{% endblock %}