{% extends 'base.html' %}

{% block title %}Heart Disease Predictor{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <h2>Predicting Heart Disease</h2>
  </div>
  <div class="row">
    <p class="lead">Complete the form below to predict if you have Heart Disease.</p>
  </div>
  <div class="row-fluid">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border"></legend>
      <form action="/predictor" method="post">
    <!-- ROW -->
    <div class="w-100"></div>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="age">Age</label>
            <input type="text" class="form-control" name="age" id="age" placeholder="Age" required>
          </div>
          <div class="form-group col-6">
              <label for="sex">Sex</label>
              <select id="sex" class="form-control" name="sex" placeholder="Sex" required>
                <option value="" selected disabled>Please select...</option>
                <option value=0>Female</option>
                <option value=1>Male</option>
              </select>
          </div>    
        </div>
    <!-- ROW -->
    <div class="w-100"></div>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="chest_pain_type">Chest Pain Type</label>
            <select id="chest_pain_type" class="form-control" name="chest_pain_type" placeholder="Chest Pain Type" required>
              <option value="" selected disabled>Please select...</option>
              <option value=1>Typical Angina</option>
              <option value=2>Atypical Angina</option>
              <option value=3>Non-Anginal</option>
              <option value=4>Asymptomatic</option>
            </select>
          </div>
          <div class="form-group col-6">
            <label for="resting_blood_pressure">Resting Blood Pressure</label>
            <input type="text" class="form-control" name="resting_blood_pressure" id="resting_blood_pressure" placeholder="Resting Blood Pressure" required>
          </div>
        </div> 
    <!-- ROW -->
    <div class="w-100"></div>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="serum_cholestoral">Serum Cholestoral</label>
            <input type="text" class="form-control" name="serum_cholestoral" id="serum_cholestoral" placeholder="Serum cholestoral in mg/dl" required>
          </div>
          <div class="form-group col-6">
              <label for="fasting_bs">Is Fasting Blood Sugar Over 120 mg/dl</label>
              <select id="fasting_bs" name="fasting_bs" class="form-control" placeholder="Is Fasting Blood Sugar Over 120 mg/dl" required>
                <option value="" selected disabled>Please select...</option>
                <option value=1>Yes</option>
                <option value=0>No</option>
              </select>
            </div>
        </div>
    <!-- ROW -->
    <div class="w-100"></div>
        <div class="form-row">
          <div class="form-group col-6">
            <label for="resting_ecg">Resting ECG Results</label>
            <select id="resting_ecg" name="resting_ecg" class="form-control" placeholder="Resting ECG Results" required>
              <option value="" selected disabled>Please select...</option>
              <option value=0>Normal</option>
              <option value=1>Having ST-T wave abnormality</option>
              <option value=2>Showing Probable or Definite Left Ventricular Hypertrophy by Estes’ Criteria</option>
            </select>
          </div>
          <div class="form-group col-6">
            <label for="max_heart">Maximum Heart Rate</label>
            <input type="text" name="max_heart" class="form-control" id="max_heart" placeholder="Maximum Heart Rate Achieved" required>
          </div>
        </div>
    <!-- ROW -->
    <div class="w-100"></div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="ei_angina">Do you have exercised induced angina?</label>
                <select id="ei_angina" name="ei_angina" class="form-control" placeholder="Do you have exercised induced angina?" required>
                  <option value="" selected disabled>Please select...</option>
                  <option value=1>Yes</option>
                  <option value=0>No</option>
                </select>
              </div>
          <div class="form-group col-6">
            <label for="oldpeak">Oldpeak</label>
            <input type="text" name="oldpeak" class="form-control" id="oldpeak" placeholder=" = ST depression induced by exercise relative to rest" required>
          </div>
        </div>
    <!-- ROW -->
    <div class="w-100"></div>
        <div class="form-row">
          <div class="form-group col-6">
              <label for="peak_est">What is the slope of the peak exercise ST segment?</label>
              <select id="peak_est" name="peak_est" class="form-control" placeholder="What is the slope of the peak exercise ST segment?" required>
                <option value="" selected disabled>Please select...</option>
                <option value=1>Upsloping</option>
                <option value=2>Flat</option>
                <option value=3>Downsloping</option>
              </select>
            </div>
          <div class="form-group col-6">
            <label for="colours">Number of Major Vessels Coloured by Flourosopy</label>
            <select id="colours" name="colours" class="form-control" placeholder="Number of Major Vessels Coloured by Flourosopy" required>
              <option value="" selected disabled>Please select...</option>
              <option value=0>0</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
            </select>
          </div>
        </div>
    <!-- ROW -->
    <div class="w-100"></div>
        <div class="form-row">
          <div class="form-group col-12">
              <label for="thal">Thalassemia</label>
              <select id="thal" name="thal" class="form-control" placeholder="Thalassemia" required>
                <option value="" selected disabled>Please select...</option>
                <option value=3>3 - Normal</option>
                <option value=6>6 - Fixed Defect</option>
                <option value=7>7 - Reversible Defect</option>
              </select>
          </div>
        </div>
    <!-- ROW -->
    <div class="w-100"></div>
        <div class="form-row">
          <div class="form-group col">
              <button class="btn btn-primary btn-lg float-left" type="submit">Predict!</button>
            </div>
            <div class="form-group col">
              <button class="btn btn-danger btn-lg float-right" type="reset">Reset Form</button>
            </div>
          </div>
      </form>
    </fieldset>
  </div>
</div>
{% endblock %}