{% extends 'base.html' %}

{% block title %}Bad Query {{graph_num}}{% endblock %}

{% block sidebar %}
<li {%- if request.path == "/" %} class="active"{% endif %}><a href="/">Home</a></li>
<li {%- if request.path == "/graph" %} class="active"{% endif %}><a href="/graph">Data Visualisation</a></li>
<li {%- if request.path == "/factors" %} class="active"{% endif %}><a href="/factors">Potential Important Factors</a></li>
<li {%- if request.path == "/predictor" %} class="active"{% endif %}><a href="/predictor">Predicting {what is our track}</a></li>
<li {%- if request.path == "/other" %} class="active"{% endif %}><a href="/other">Other Stuff/Ideas</a></li>
{% endblock %}

{% block content %}
    <h2>Hmmm that address doesn't look right!</h2><br>
    <h4>Perhaps you should try another link?</h4>
{% endblock %}