{% extends 'base.html' %}

{% block title %}
  {%- if request.path == "/graph" %}
    Visualisations
  {%- else %}
    {% block graphtitle %}{% endblock %}
  {% endif %}
{% endblock %}

{% block navbar %}
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose your chart
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/graph1">Graph 1</a>
          <a class="dropdown-item" href="/graph2">Graph 2</a>
          <a class="dropdown-item" href="/graph3">Graph 3</a>
          <a class="dropdown-item" href="/graph4">Graph 4</a>
          <a class="dropdown-item" href="/graph5">Graph 5</a>
          <a class="dropdown-item" href="/graph6">Graph 6</a>
          <a class="dropdown-item" href="/graph7">Graph 7</a>
          <a class="dropdown-item" href="/graph8">Graph 8</a>
          <a class="dropdown-item" href="/graph9">Graph 9</a>
          <a class="dropdown-item" href="/graph10">Graph 10</a>
          <a class="dropdown-item" href="/graph11">Graph 11</a>
          <a class="dropdown-item" href="/graph12">Graph 12</a>
          <a class="dropdown-item" href="/graph13">Graph 13</a>
          <a class="dropdown-item" href="/graph14">Graph 14</a>
        </div>
      </li>
{% endblock %}

{% block content %}
  {%- if request.path == "/graph" %}
    <h2>Welcome to our visualisations!</h2>
    <p class="lead">Choose a view from the top right to explore.</p>
  {%- else %}
    {% block graphcontent %}{% endblock %}
  {% endif %}
{% endblock %}