{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block sidebar %}
<li {%- if request.path == "/" %} class="active"{% endif %}><a href="/">Home</a></li>
<li {%- if request.path == "/graph" %} class="active"{% endif %}><a href="/graph">Data Visualisation</a></li>
<li {%- if request.path == "/factors" %} class="active"{% endif %}><a href="/factors">Potential Important Factors</a></li>
<li {%- if request.path == "/predictor" %} class="active"{% endif %}><a href="/predictor">Predicting {what is our track}</a></li>
<li {%- if request.path == "/other" %} class="active"{% endif %}><a href="/other">Other Stuff/Ideas</a></li>
{% endblock %}

{% block content %}
    <h3>COMP9321  --  Assignment 3  --  The Cherry Pies</h3>
    <hr>
    <h2>Introduction:</h2>
    <p> Welcome to the assignment 3 home page for Group: ### </p>
    <p> To begin, choose an option on the side you wish to view.</p>
{% endblock %}